<div class=" content" style="padding: 12% 29% 340px 34%;">
    <div class=" row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">       
                    <div class="row" style="display: flex;justify-content: center;align-items: center;">
                      <h2 style="text-align: center;">  Welcome To ToJpeg Tim Web Site </h2>
                    </div>
                </div>
                <div class="card-body" style="display: flex;align-content: center;justify-content: center;">
                    <a routerLink="/login" class=" btn btn-fill btn-success" type="submit">Login</a>
                    <a routerLink="/register" class=" btn btn-fill btn-primary" type="submit">Register</a>
                </div>
                
            </div>
        </div>
    </div>
</div>